<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <localRepository>/home/rburdet/.m2/repository</localRepository>
  <servers>
    <server>
      <username>admin</username>
      <password>admin</password>
      <id>fabric8.upload.repo</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>redhat-techpreview-all-repository</id>
          <name>Red Hat Tech Preview repository (all)</name>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>redhat-techpreview-all-repository</id>
          <name>Red Hat Tech Preview repository (all)</name>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>redhat-techpreview-all-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>redhat-ga-repository</id>
          <name>RedHat GA repository</name>
          <url>https://maven.repository.redhat.com/ga</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>redhat-ga-repository</id>
          <name>RedHat GA repository</name>
          <url>https://maven.repository.redhat.com/ga</url>
        </pluginRepository>
      </pluginRepositories>
      <id>redhat-ga-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>jboss-fuse-repository</id>
          <name>JBoss Fuse repository</name>
          <url>https://repo.fusesource.com/nexus/content/groups/public/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
          <id>jboss-fuse-repository</id>
          <name>JBoss Fuse repository</name>
          <url>https://repo.fusesource.com/nexus/content/groups/public/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>jboss-fuse-repository</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>redhat-techpreview-all-repository</activeProfile>
    <activeProfile>redhat-ga-repository</activeProfile>
    <activeProfile>jboss-fuse-repository</activeProfile>
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>
</settings>
